body {
  width: 100%;
  height: 100%;
}
.container {
  color: rgb(15, 146, 233);
  height: 50%;
  width: 100%;
  border-radius: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  display: list-item;
  color: aquamarine;
  height: 50px;
  width: 100%;
  border-radius: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
li {
  color: rgb(15, 146, 233);
  height: 50%;
  width: 100%;
  border-top: cadetblue;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img{
  width: 20%;
}